<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="dobot">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import dobot urdf file -->
    <xacro:include filename="/home/anagha/robot_control_ws/src/robot_description/urdf/dobot.urdf.xacro" />

    <!-- Import control_xacro -->
    <xacro:include filename="dobot.ros2_control.xacro" />


    <xacro:dobot_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
